*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
font-family:Arial, Helvetica, sans-serif ;
background:linear-gradient(135deg,#f3f3f3, #eee) ;
display: flex;
justify-content: center;
align-self: center;
height: 100vh;
flex-direction: column;
}
.swiper-container{
width: 90%;
max-width: 800px;
height: 500px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
border-radius: 15px;
overflow: hidden;
}
.swiper-slide{
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5rem;
font-weight: bold;
color: white;
text-align: center;
background-size: cover;
background-position: center;
}
.swiper-slide{
    width: 1000px;
    height: 600px;
}
.swiper-slide:nth-child(1) {
    background: url('https://source.unsplash.com/random/800x600?nature') no-repeat center;
}

.swiper-slide:nth-child(2) {
    background: url('https://source.unsplash.com/random/800x600?landscape') no-repeat center;
}

.swiper-slide:nth-child(3) {
    background: url('https://source.unsplash.com/random/800x600?ocean') no-repeat center;
}

.swiper-slide:nth-child(4) {
    background: url('https://source.unsplash.com/random/800x600?mountains') no-repeat center;
}
.swiper-button-next,
.swiper-button-prev{
    color: black;
}
.swiper-pagination-bullet{
background: black;
    opacity: 0.8;
}
.swiper-pagination-bullet-active{
    background: #ff9800;
}